@import 'styles/theme';

.body {
	position: fixed;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100px;
	padding: 50px 50%;
	right: 0;
	bottom: 0;
	transition: opacity 0.3s, color 0.3s;
	overflow: hidden;
	background-color: rgba($black, 0.1);
	color: $gray-secondary;
	.icon {
		position: absolute;
		left: 50%;
		top: 50%;
		transition: transform 0.3s;
		transform: translate(-50%, -50%) scale(var(--scale));
		--scale: 1;
	}
	&.hidden {
		opacity: 0;
	}
	&.active {
		color: $red-main;
		.icon {
			--scale: 1.2;
		}
	}
}
