@import 'styles/theme.scss';
@import 'styles/extends.scss';


.body {
	padding-top: 20px;
}

.caption {
	@extend %text-fit;
	padding: 20px;
	background-color: $green-primary;
	text-align: center;
	margin: 0 0 20px;
}