@import "styles/extends";

.body {
	border: 1px solid #000;
}
.head {
	@extend %text-fit;
	padding: 20px;
	border-bottom: 1px solid #000;
}
.content {
	padding: 10px;
	display: flex;
	flex-direction: column;
}
