@import "styles/theme";
@import "styles/extends";

.body {
	border: 1px solid #000;
}
.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	border-bottom: 1px solid #000;
}
.caption {
	@extend %text-fit;
	margin: 0;
}
.delete {
	padding: 20px;
	cursor: pointer;
	transition: color 0.2s;
	&:hover {
		color: $red-main;
	}
}
.content {
	padding: 10px;
	display: flex;
	flex-direction: column;
	transition: background-color 0.3s;
}
.dragging-from-this {
	background-color: rgba(lightcyan, 0.5);
}
.dragging-over {
	background-color: lightcyan;
}
