@import "styles/theme";
@import "styles/extends";

.body {
	border: 3px solid $black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: background-color 0.2s;
	&:hover {
		background-color: $green-secondary;
	}
}
.link {
	@extend %text-fit;
	padding: 20px;
	text-decoration: none;
	flex-grow: 1;
	transition: color 0.2s;
	color: $black;
	&:hover {
		text-decoration: underline;
	}
}
.delete {
	padding: 20px;
	cursor: pointer;
	transition: color 0.2s;
	&:hover {
		color: $red-main;
	}
}
