@import 'styles/theme';

.body {
	min-width: 300px;
	background-color: $green-primary;
	border: 2px solid $black;
}
.top {
	border: 1px solid #000;
	display: flex;
	justify-content: center;
	padding: 20px;
	cursor: pointer;
	color: $white;
}
.icon {
	margin-right: 10px;
}
.dropdown {
	background-color: $white;
	padding: 20px;
	display: none;
	&_opened {
		display: block;
	}
}
.label {
	display: flex;
	flex-direction: column;
}
.input {
	margin: 10px 0;
	border: 1px solid $gray-secondary;
	padding: 0.1em 0.2em;
}
.buttons {
	display: flex;
	justify-content: space-between;
}
