.board-creator {
	width: 200px;
	background-color: green;
	border: 2px solid #000;
	&__top {
		border: 1px solid #000;
		display: flex;
		padding: 20px;
		cursor: pointer;
		color: white;
	}
	&__icon {
		margin-right: 10px;
	}
	&__dropdown {
		background-color: #fff;
		padding: 20px;
		display: none;
		&_opened {
			display: block;
		}
	}
	&__label {
		display: flex;
		flex-direction: column;
	}
	&__input {
		margin-top: 10px;
	}
	&__buttons {
		display: flex;
		justify-content: space-between;
	}
}
