@import 'styles/theme';
@import 'styles/extends';

.body {
	user-select: none;
	background-color: $green-secondary;
	transition: background-color 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 10px;
	padding: 5px 20px;
	.textContainer {
		position: relative;
		height: 22px;
		max-width: 100%;
		.decore {
			position: absolute;
			opacity: 0.8;
			width: calc(100% + 10px);
			height: 2px;
			top: 50%;
			left: 50%;
			transition: transform 0s 0.5s;
			transform: translate(-50%, -50%) rotate(var(--rotate));
			--rotate: 2deg;
			&::after {
				position: absolute;
				content: '';
				background-color: $gray-accent;
				height: 100%;
				width: 100%;
				transition: transform 0.5s;
				pointer-events: none;
				transform-origin: left;
				transform: scale(var(--scaleX), 1);
				--scaleX: 0;
			}
		}
		.text {
			@extend %text-fit;
		}
	}
	.checkIcon {
		position: absolute;
		right: -10px;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		transition: all 0.3s;
		padding: 8px;
	}
	&.done {
		background-color: $gray-primary;
		.textContainer .decore {
			--rotate: 182deg;
			&::after {
				--scaleX: 1;
			}
		}
		.checkIcon {
			color: $gray-secondary;
		}
	}
}
.dragOverDelete {
	opacity: 0.8;
	&.dropped {
		opacity: 0;
	}
}
