@import 'styles/theme';
@import 'styles/vars.scss';

.body {
	display: flex;
	justify-content: center;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: $black;
	width: 50px;
	height: $header-height;
	transition: color 0.3s;
	&:hover {
		color: $green-primary;
	}
	.icon {
		height: 100%;
		width: 100%;
	}
}
