@import "styles/theme.scss";

.input {
	transition: background-color 0.3s;
	padding: 0.1em 0.2em;
	&:hover {
		background-color: rgba($black, 0.1);
	}
	&:focus {
		background-color: rgba($black, 0.1);
	}
	&.saved {
		background-color: rgba($green-secondary, 0.5);
		transition: background-color 0s;
	}
	&.canceled {
		background-color: rgba($red-main, 0.2);
		transition: background-color 0s;
	}
}
