@import 'styles/theme';

.body {
	border: 1px solid #000;
}

.head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	height: 60px;
	border-bottom: 1px solid #000;
}
